.container {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  & th {
    text-align: center;
    border: 1px solid black;
  }
  & td {
    text-align: center;
    border: 1px solid black;
  }
}