.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  &>.radioContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin: 5px;
  }
}